<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!--    
    <add key="City" value="Хмельницький"/>
    <add key="start_latitude" value="49.469020"/>
    <add key="start_longitude" value="26.896888"/>
    <add key="end_latitude" value="49.357065"/>
    <add key="end_longitude" value="27.093612"/>
    -->
    <add key="City" value="Чернігів"/>
    <add key="start_latitude" value="51.552099"/>
    <add key="start_longitude" value="31.207216"/>
    <add key="end_latitude" value="51.436567"/>
    <add key="end_longitude" value="31.389252"/>
  </appSettings>
</configuration>