<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="City" value="Хмельницький"/>
    <add key="start_latitude" value="49.465164"/>
    <add key="start_longitude" value="26.893971"/>
    <add key="end_latitude" value="49.355262"/>
    <add key="end_longitude" value="27.093098"/>
    
    <!--
    <add key="City" value="Хмельницький"/>
    <add key="start_lat" value="49.465164"/>
    <add key="start_long" value="26,893971"/>
    <add key="end_lat" value="49.355262"/>
    <add key="end_long" value="27,093098"/>
    -->
  </appSettings>
</configuration>